body{
	background-color: #F5F5F5;
	font-family: arial;
	font:100;
	padding: 0;
	margin: 0;
}
.charts{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.individual_chart_con{
	display: block;
	padding: 5px 3px 5px 3px;
	background-color: white;
	border-radius: 5px;
	margin: 5px 3px 5px 3px;
	border:2px #DDD solid;
}
.chart1{
	flex-grow: 1;
}
.chart2{
	flex-grow: 1;
	width: 100%;
	height: 300px;
}
.chart3{
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 150px;
	max-width: 150px;
}
.chart4{
	flex-grow: 0;
	min-width: 0px;
	max-width: 200px;
	padding: 0 5px 0 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.chart5{
	padding-left: 15px;
	min-width: 200px;
	flex-grow: 2;
}
.chart6{
	padding: 15px;
	min-width: 200px;
	flex-grow: 2;
}
#chart4_title{
	font-size: 13px;
	font-weight: lighter;
}
#chart5_title{
	font-size: 15px;
	font-weight: lighter;
}
.chart_con_l1{

	display: flex;
	justify-content: center;
}
.chart_con_l2{
	width: 1000px;
	display: flex;
	justify-content: center;
}
table{
	margin-left: 20px;
	color: black;
}
#table_extended {
	border-collapse: collapse;
	width: 100%;
	margin:0;
}

#table_extended th, #table_extended td {
	border: 1px solid #ddd; /* Add border to table cells */
	padding: 8px; /* Add padding for better spacing */
	text-align: left; /* Align text to the left */
}

#table_extended th {
	background-color: #1f89e0; /* Add background color to table header */
}
.chart_header{
	display: flex;
	flex-wrap: wrap;
	flex-direction: horizontal;

	align-items: center;
	width: 100%;
	justify-content: space-between;
}
.header{
	display: flex;
	align-items: center;
	width: 90%;
	height: 80px;
	background-color: none;
	padding-left: 5%;
	padding-right: 5%;
	border-bottom: 1px grey solid;
}
.logout{
	display: flex; 
	align-items: center;
}
.logout:hover{
	cursor: pointer;
	text-decoration: underline; /* Underline the paragraph on hover */
}
#logo{
	padding-right: 5px;
}
@media only screen and (max-width: 1400px) {
	.chart_con_l2 {
		width: 100% !important;
		left: 0;
	}
}